<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="icon" href="/Focal/Media/Focal logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="timer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="index.html" id="navbar__icon"><img src="{% static 'Focal logo.png' %}" id="icon">ocal</a>
    
            <ul class="navbar__menu">
                <li><a href="" class="menu">Overview</a></li>
                <li><a href="" class="menu">Activity</a></li>
                <li><a href="timer.html" class="menu">Timer</a></li>
            </ul>
    
            <ul class="navbar__menu">
                <li class="navbar__button"><a href="" id="button">Sign Up</a></li>
                <li><a href="" class="menu">Log In</a></li>
            </ul>
        </div>
    </nav>

    <!-- Timer Section -->
    <section class="timer_background">
        <div class="timer"></div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <p>© Copyright 2023 Focal All rights reserved • Terms of Service • Privacy Policy</p>
    </footer>
    <script src="app.js" type="module"></script>
</body>
</html>
